@tailwind base;
@tailwind components;
@tailwind utilities;

.boddy {
    margin: 10px 578px;

}

.display {
    display: flex;
    justify-content: center;
    float: left;
}

.tablelist {
    margin: auto;
    display: block;
}

.btn-number1 {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background: #5c281d;
    border-color: #5c281d;
}
